<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tic-Tac-Toe</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet/less" href="static/less/tic-tac.less">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">

      <header>
        <div id="winMask">
          <div class="winner">The game is tied.</div>
        </div>
        <div class="pull-right">
          <a href="#" class="replay-button">
            <i class="fa fa-refresh"></i>
          </a>
        </div>
      </header>

      <div class="game-board">
        <ul class="board">
          <li id="square-0">
            <a href="#">
              <span class="back">X</span>
            </a>
          </li>
          <li id="square-1">
            <a href="#">
              <span class="back">X</span>
            </a>
          </li>
          <li id="square-2">
            <a href="#">
              <span class="back">X</span>
            </a>
          </li>
          <li id="square-3">
            <a href="#">
              <span class="back">X</span>
            </a>
          </li>
          <li id="square-4">
            <a href="#">
              <span class="back">X</span>
            </a>
          </li>
          <li id="square-5">
            <a href="#">
              <span class="back">X</span>
            </a>
          </li>
          <li id="square-6">
            <a href="#">
              <span class="back">X</span>
            </a>
          </li>
          <li id="square-7">
            <a href="#">
              <span class="back">X</span>
            </a>
          </li>
          <li id="square-8">
            <a href="#">
              <span class="back">X</span>
            </a>
          </li>
        </ul>
        <div style="clear:left"></div>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="static/vendor/less-1.6.1.min.js"></script>
    <script src="static/vendor/underscore-min.js"></script>
    <script src="static/vendor/backbone-min.js"></script>

    <script src="static/js/TicTac.js"></script>

  </body>
</html>
